<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.promenade.pandora"
    android:versionCode="2"
    android:versionName="0.8.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="me.promenade.pandora.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.promenade.pandora.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.promenade.pandora.StubActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="net.synergyinfosys.xmppclient.NotificationService"
            android:exported="false"
            android:label="NotificationService" >
            <intent-filter>
                <action android:name="net.synergyinfosys.xmppclient.NotificationService" />
            </intent-filter>
        </service>

        <receiver
            android:name="me.promenade.pandora.receiver.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.androidpn.client.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name="me.promenade.pandora.receiver.BluetoothReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.FOUND" />
                <action android:name="android.bluetooth.BluetoothDevice.ACTION_ACL_CONNECTED" />
                <action android:name="android.bluetooth.BluetoothDevice.ACTION_ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.BluetoothDevice.ACTION_ACL_DISCONNECT_REQUESTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="me.promenade.pandora.HolderActivity"
            android:label="@string/title_activity_holder"
            android:parentActivityName="me.promenade.pandora.StubActivity"
            android:theme="@style/MySherlockTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.promenade.pandora.StubActivity" />
        </activity>
        <activity
            android:name="me.promenade.pandora.RelationActivity"
            android:label="@string/title_activity_relation"
            android:theme="@style/MySherlockTheme" >
        </activity>
        <activity
            android:name="me.promenade.pandora.NewUserActivity"
            android:label="@string/title_activity_new_user"
            android:theme="@style/MySherlockTheme" >
        </activity>
        <activity
            android:name="me.promenade.pandora.ShouldKnowActivity"
            android:label="@string/title_activity_should_know"
            android:theme="@style/MySherlockTheme" >
        </activity>
    </application>

</manifest>